.timer-container {
    position: absolute;

    border-radius: 3em;
    border: 0.75em solid rgba(0,0,0,0.05);
    padding: 1.5em;

    background-color: rgba(0,0,0,0.05);
}

.timer {
    width: 100%;
    height: 100%;

    font-size: 2.5em;

    text-align: center;
    user-select: none;
}

.timer:hover {
    cursor: move;
}

.buttons {
    position: absolute;
    left: 1rem;
    
    z-index: 10;
}

.buttons img {
    width: 50px;
    height: 50px;

    border-radius: 100%;
    background-color: rgba(255,255,255,0.25);
    border: 0.3rem solid rgba(255,255,255,0.25);
    padding: 0.5rem;

    transition: 0.1s;
}

.buttons img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.timer-settings {
    position: absolute;

    background-color: rgba(255,255,255,0.25);
    border: 0.3rem solid rgba(255,255,255,0.25);
    border-radius: 4rem;
    padding: 1rem;

    left: 6.5rem;

    /* height: 10rem; */

    z-index: 10;
}

.timer-settings button {
    border-radius: 1rem;
    padding: 0.5rem;
    border: 0.3rem solid lightgray;
    background-color: white;

    cursor: pointer;
}

.timer-settings button {
    transform: scale(1.1);
}

.settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}